@font-face {
    font-family: sohne-reg;
    src: url(ts/ts/ts-b.otf);
}

@font-face {
    font-family: nz-blacki;
    src: url(tnz/TestNewzald-BlackItalic.otf);
}

@font-face {
    font-family: sohne-sb;
    src: url(ts/ts/ts-h.otf);
}

* {
    font-family:sohne-reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#bigBigBox {
    border: solid 0px;
    margin: 5% 20% 0 20%;
    background-image:url(photo-1515549832467-8783363e19b6.jpg);
    background-attachment: fixed;
    scroll-behavior: smooth;
}

span {
    font-family:nz-blacki, Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
}

div, i {
    padding: 1% 0;
    line-height: 160%;
}

.a0 {
    color: grey;
}

section {
    margin: 0 0 15% 0;
    text-indent: 50px;
}

e {
    font-family:sohne-sb, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none;
    color: #20262E;
}

a:hover {
    color:#446f71;
    transition: .2s ease-in;
}

image {
    display:flex;
    justify-content:center;
    align-items: center;
}

#hide {
    display: block;
}

.box {
    display: block; border: none; transition: all 500ms ease-in-out ; animation-delay: 100ms;
}

.hidden {
    display: none;
    opacity: 0;
}


#bigBody { 
    border: solid 0px;
    margin: 5% 10% 0 10%;
    background-image:url(photo-1515549832467-8783363e19b6.jpg);
    background-attachment: fixed;
    scroll-behavior: smooth; 
}

body {
    min-width: 300px;
}

#santi {
    margin: 5% 0%;
}

#bigSanti {
    height: 500px;
    overflow-y: scroll;
    
}

/* width */
#bigSanti::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #bigSanti::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  #bigSanti::-webkit-scrollbar-thumb {
    background: #2f4141
  }
  
  /* Handle on hover */
  #bigSanti::-webkit-scrollbar-thumb:hover {
    background: #161c1d
  }