* {
    font-family:monospace;
    
    
}

p {
    color: #5f9ea0;
    font-size: 18px;
}

h1 {
    color: grey;
    font-size: 30px;
}

h2, #Bee {
    color: #e09a18;
    font-size: 26px;
}

#Ae, #Bee, #Cee, #Dee, #Yee, #Ef {
    border: 3px solid #5f9ea0;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #c8c851;
    font-size: 22px;
}

h4 {
    color: #0f510f !important; overrider
    font-size: 18px;
}

h5 {
    color: #145DA0;
    font-size: 16px;
}

h6 {
    color: #861a86;
    font-size: 14x;
}

.hard {
    color: burlywood;
}
.bold {
    font-weight: bold;
}

code {
    color: seagreen;
}

#list-hw {
    color: #a7abbb;
    text-align: right;
}

blockquote {
    color: cornflowerblue
}

code {
    color: #145DA0;
    font-weight: bold;
}

input:focus {
    color: blue;
}

.anchors:hover {
    color: cadetblue;
}

.cascoding {
    font-size: 40px;
    text-align: center
}

time {
    color: #446f71;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify <- keep same with parent element
}

a:visited {
    color:#446f71;
    font-weight: bold; bgclr, opac
}

.img-midt {
    background-image: url("./bigbag/media/IMG_2561.JPG");
    background-size: cover;
    background-position: ;
    width: 1366px;
    height: 1024px;
}

