@font-face {
    font-family: se;
    src: url(bigbag/media/SF-Pro-Display-HeavyItalic.otf);
}

@font-face {
    font-family: ha;
    src: url(bigbag/media/Helveticamazing.ttf);
}

@font-face {
    font-family: mstr;
    src: url(monsterrat-family/Montserrat-Bold.ttf);
}

#hideAll {
    position: fixed;
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    background-color: rgb(67 83 98);
    z-index: 99; /* Higher than anything else in the document */
}

body {
    overscroll-behavior-y: none;
  }
* {
    font-family: monospace;
    color: #FFF;
    overscroll-behavior-y: none;
}

.w {
    font-family: se;
    
    font-size: 16px;
    text-align: right;
    padding: 0 5% 0 0;
    min-width: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    
       
        background: -webkit-linear-gradient(#F8EDE3, #efe5d8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    


}
body {
    background-image: url(bigbag/IMG_1494.jpeg);
    background-size:auto;
}

.ok {
    display: block;
    position: absolute;
    top: 96%;

}

.eok {
    text-align: right;
}

#wow {
    text-align: right;
    margin: 5%;
    font-family: ha;
    font-size: 50px;
    user-select: none;
    
}

::-webkit-scrollbar {
    display: none;
}

#pf {
    font-family: mstr, sans-serif;
    font-size: 12px;
}